
    <h2><%= title %></h2>
    <p>Welcome to <%= title %></p>
    <ul class="list-group">
      <% drones.forEach((drone) => { %>
        <li class="list-group-item">
          <%= drone.droneName %>
           <!--display info from aDrone - $<%= drone.droneName %>-->
           <a href="./drones/<%=drone.id%>">view drone</a>


        </li>
      <% }) %>

    </ul>

    <a href="./drones/new">Add a new drone</a>
